<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/admin::header"></head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div th:replace="layout/admin::sidebar"></div>
        <!-- top navigation -->
        <div th:replace="layout/admin::top-nav"></div>
        <!-- /top navigation -->
        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Quản lý User
                        </h3>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Danh sách Nhân viên</h2>
                                <th:block th:if="${msg != null}" th:with="type=${msg.type == 1 ? 'success' : 'danger'}">
                                <div th:class="${'alert alert-' + type}" style="margin-left: 200px">
                                    <strong th:text="${msg.message}"></strong>
                                </div>
                                </th:block>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <form class="form-horizontal form-label-left">
                                    <div class="form-group"  style="margin-bottom: 30px;">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">Group
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <select class="form-control" id="select-group">
                                                <option value="0">Tất cả</option>
                                                <option th:each="group,iterStat:${groups}" th:text="${group.name}"
                                                        th:value="${group.id}" th:selected="${group.id == groupDefault? true : false}"></option>
                                            </select>
                                        </div>
                                        <div class="col-md-1 col-sm-1 col-xs-12">
                                            <input type="button" id="view-empl-list" name="submit" value="Xem"
                                                   class="form-control btn btn-info">
                                        </div>
                                    </div>
                                </form>
                                <th:block th:if="${#lists.isEmpty(users)}">
                                    <h3 class="text-center">Không có dữ liệu!</h3>
                                </th:block>
                                <th:block th:unless="${#lists.isEmpty(users)}">
                                <table id="datatable" class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th class="hide">ID</th>
                                        <th>Username</th>
                                        <th>Họ tên</th>
                                        <th class="hide">Phone</th>
                                        <th class="hide">Address</th>
                                        <th>Giới tính</th>
                                        <th>Group</th>
                                        <th>Trạng thái</th>
                                        <th>Hành động</th>
                                    </tr>
                                    </thead>
                                    <tbody id="table-body">
                                        <tr th:each="user,iterStat:${users}">
                                            <td scope="row" th:text="${iterStat.count}"></td>
                                            <td th:text="${user.id}" class="id hide"></td>
                                            <td th:text="${user.userName}" class="username"></td>
                                            <td th:text="${user.userDetail.fullName}" class="fullname"></td>
                                            <td th:text="${user.userDetail.phone}" class="phone hide"></td>
                                            <td th:text="${user.userDetail.address}" class="address hide"></td>
                                            <td th:text="${user.gender == 1 ? 'Nam' : 'Nữ'}" class="gender"></td>
                                            <td th:text="${user.group.name}" class="group-empl"></td>
                                            <td th:class="${'stt change-stt-' + user.id}">
                                                <span th:text="${user.status}" class="hide"></span>
                                                <th:block th:if="${user.status == 1}">
                                                    <button type="button" class="btn btn-success btn-xs" th:onclick="'javascript:changeStatus('+ ${user.id} +', 0);'">Active
                                                    </button>
                                                </th:block>
                                                <th:block th:if="${user.status == 0}">
                                                    <button type="button" class="btn btn-dark btn-xs" th:onclick="'javascript:changeStatus('+ ${user.id} +', 1);'">Inactive
                                                    </button>
                                                </th:block>
                                            </td>
                                            <td>
                                                <button href="#" class="btn btn-primary btn-xs btn-view"
                                                        data-toggle="modal"
                                                        data-target="#viewModal">
                                                    <i class="fa fa-folder"></i> View
                                                </button>
                                                <button href="#" class="btn btn-info btn-xs btn-change-group"
                                                        data-toggle="modal"
                                                        data-target="#editModal"><i class="fa fa-pencil"></i>
                                                    Change group
                                                </button>
                                                <button class="btn btn-warning btn-xs btn-reset-pass"><i class="fa fa-key"></i>
                                                    Reset Password
                                                </button>
                                                <a th:href="@{/admin/user/delete?uId=__${user.id}__}" onclick="return confirm('Bạn có chắc muốn xóa không?')" class="btn btn-danger btn-xs">
                                                    <i class="fa fa-trash"></i>
                                                    Delete
                                                </a>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                                </th:block>
                                <div id="viewModal" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;
                                                </button>
                                                <h4 class="modal-title title-view">THÔNG TIN USER</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-12">
                                                        <table class="table no-border table-striped">
                                                            <tbody>
                                                            <tr>
                                                                <th style="border-top: none">Username</th>
                                                                <td id="username-view" style="border-top: none">NguyenVanA</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Họ tên</th>
                                                                <td id="fullname-view">Nguyễn A</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Giới tính</th>
                                                                <td id="gender-view">Nam</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Điện thoại</th>
                                                                <td id="phone-view">0969696969</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Địa chỉ</th>
                                                                <td id="address-view">Đà Nẵng</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Group</th>
                                                                <td id="group-view">Sinh viên</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default"
                                                        data-dismiss="modal">
                                                    Đóng
                                                </button>
                                                <button type="button" class="btn btn-primary antosubmit btn-phan-quyen">Phân quyền
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="editModal" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;
                                                </button>
                                                <h4 class="modal-title">CẬP NHẬT GROUP CHO USER</h4>
                                            </div>
                                            <form id="demo-form2" data-parsley-validate
                                                  class="form-horizontal" th:action="@{/admin/user/change-group}" method="post">
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-sm-12 col-md-12">

                                                            <div class="form-group hide">
                                                                <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                                       for="id">Id
                                                                </label>
                                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                                    <input type="text" id="id" name="userId"
                                                                           class="form-control col-md-7 col-xs-12">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                                       for="name">Username
                                                                </label>
                                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                                    <input type="text" id="name" name="username"
                                                                           readonly
                                                                           class="form-control col-md-7 col-xs-12">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Group</label>
                                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                                    <select class="form-control" name="groupId"
                                                                            id="update-group">
                                                                        <option th:each="group,iterStat:${groups}" th:text="${group.name}"
                                                                                th:value="${group.id}"></option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default"
                                                            data-dismiss="modal">
                                                        Đóng
                                                    </button>
                                                    <button type="submit" class="btn btn-primary antosubmit">Lưu
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
    <!-- footer content -->
    <footer th:replace="layout/admin::footer"></footer>
    <!-- /footer content -->
</div>
</div>
<div th:replace="layout/admin::script-area"></div>
<script src="../../../static/admin/js/my-custom/user.js" th:src="@{/admin/js/my-custom/user.js}"></script>
</body>
</html>