<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/admin::header"></head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div th:replace="layout/admin::sidebar"></div>
        <!-- top navigation -->
        <div th:replace="layout/admin::top-nav"></div>
        <!-- /top navigation -->
        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>
                             Quản lý Phí điện nước
                        </h3>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Danh sách phí điện nước các phòng</h2>
                                <th:block th:if="${msg != null}" th:with="type=${msg.type == 1 ? 'success' : 'danger'}">
                                    <div th:class="${'alert alert-' + type}" style="margin-left: 300px">
                                        <strong th:text="${msg.message}"></strong>
                                    </div>
                                </th:block>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <form data-parsley-validate class="form-horizontal form-label-left">
                                <div class="form-group" style="margin-bottom: 30px;">
                                    <label class="control-label col-md-1 col-sm-1 col-xs-12">Khu nhà
                                    </label>
                                    <div class="col-md-2 col-sm-2 col-xs-12">
                                        <select class="form-control" id="select-area-index" name="areaId">
                                            <option th:each="area,iterStat:${areas}" th:text="${area.name}" th:selected="${area.id == areaDefault? true : false}"
                                                    th:value="${area.id}"></option>
                                        </select>
                                    </div>
                                    <label class="control-label col-md-1 col-sm-1 col-xs-12">Tầng
                                    </label>
                                    <div class="col-md-2 col-sm-2 col-xs-12">
                                        <select class="form-control" id="select-floor-index" name="floorId">
                                            <option value="0">Tất cả</option>
                                            <option th:each="floor,iterStat:${floors}" th:text="${floor.name}" th:selected="${floor.id == floorDefault? true : false}"
                                                    th:value="${floor.id}"></option>
                                        </select>
                                    </div>
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Thời gian
                                    </label>
                                    <div class="col-md-1 col-sm-1 col-xs-12">
                                        <input type="month" id="timeFilter" style="padding: 5px"
                                                th:value="${yearMonth}">
                                    </div>
                                    <div class="col-md-1 col-sm-1 col-xs-12" style="margin-left: 150px">
                                        <input type="button" id="submit" name="submit" value="Xem"
                                               class="form-control btn btn-info">
                                    </div>
                                </div>
                                </form>
                                <th:block th:if="${#lists.isEmpty(feeList)}">
                                    <h3 class="text-center">Không có dữ liệu!</h3>
                                </th:block>
                                <th:block th:unless="${#lists.isEmpty(feeList)}">
                                    <table id="datatable" class="table table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th class="hide">ID</th>
                                            <th>Phòng</th>
                                            <th>Khu nhà</th>
                                            <th>Thời gian</th>
                                            <th>Tiền điện</th>
                                            <th>Tiền nước</th>
                                            <th>Tổng tiền</th>
                                            <th>Trạng thái</th>
                                            <th>Hành động</th>
                                            <th class="hide">Old Elec</th>
                                            <th class="hide">New Elec</th>
                                            <th class="hide">Old Water</th>
                                            <th class="hide">New Water</th>
                                            <th class="hide">Room</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tbody-subsistence">
                                            <tr th:each="fee,iterStat:${feeList}">
                                                <td scope="row" th:text="${iterStat.count}"></td>
                                                <td th:text="${fee.id}" class="id hide"></td>
                                                <td th:text="${fee.roomName}" class="room-name"></td>
                                                <td th:text="${fee.areaName}" class="area-name"></td>
                                                <td th:text="${fee.month + '/' + fee.year}" class="time"></td>
                                                <td th:text="${(fee.newNumberElec - fee.oldNumberElec)*fee.costElec + ' VND'}" class="elec"></td>
                                                <td th:text="${(fee.newNumberWater - fee.oldNumberWater)*fee.costWater + ' VND'}" class="water"></td>
                                                <td th:text="${fee.total + ' VND'}" class="total"></td>
                                                <td th:class="${'stt change-stt-' + fee.id}">
                                                    <span th:text="${fee.status}" class="hide"></span>
                                                    <th:block th:if="${fee.status == 1}">
                                                        <button type="button" class="btn btn-success btn-xs">Đã nộp
                                                        </button>
                                                    </th:block>
                                                    <th:block th:if="${fee.status == 0}">
                                                        <button type="button" class="btn btn-dark btn-xs" th:onclick="'javascript:changeStatus('+ ${fee.id} +');'">Chưa nộp
                                                        </button>
                                                    </th:block>
                                                </td>
                                                <td id="btn-actions">
                                                    <button href="#" class="btn btn-primary btn-xs btn-view"
                                                            data-toggle="modal"
                                                            data-target="#viewModal"><i class="fa fa-folder"></i> View
                                                    </button>
                                                    <th:block th:if="${fee.status == 0}">
                                                        <button href="#" class="btn btn-info btn-xs btn-edit"
                                                                data-toggle="modal"
                                                                data-target="#editModal"><i class="fa fa-pencil"></i> Edit
                                                        </button>
                                                    </th:block>
                                                    <th:block th:if="${fee.status != 0}">
                                                        <button href="#" class="btn btn-info btn-xs disabled">
                                                            <i class="fa fa-pencil"></i> Edit
                                                        </button>
                                                    </th:block>
                                                </td>
                                                <td th:text="${fee.oldNumberElec}" class="oldElec hide"></td>
                                                <td th:text="${fee.newNumberElec}" class="newElec hide"></td>
                                                <td th:text="${fee.oldNumberWater}" class="oldWater hide"></td>
                                                <td th:text="${fee.newNumberWater}" class="newWater hide"></td>
                                                <td th:text="${fee.roomId}" class="roomId hide"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </th:block>
                                    <div id="viewModal" class="modal fade" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;
                                                    </button>
                                                    <h4 class="modal-title title-view">THÔNG TIN PHÍ ĐIỆN NƯỚC</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-sm-12 col-md-12">

                                                            <table class="table table-bordered">
                                                                <tbody>
                                                                <tr>
                                                                    <th></th>
                                                                    <th>Tiền điện</th>
                                                                    <th>Tiền nước</th>
                                                                </tr>
                                                                <tr>
                                                                    <th>Số cũ</th>
                                                                    <td id="oldElec">123</td>
                                                                    <td id="oldWater">12</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Số mới</th>
                                                                    <td id="newElec">133</td>
                                                                    <td id="newWater">15</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Số tiêu thụ</th>
                                                                    <td id="elecUsed">10</td>
                                                                    <td id="waterUsed">3</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Thành tiền</th>
                                                                    <td id="elec">123 VND</td>
                                                                    <td id="water">12 VND</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Tổng tiền</th>
                                                                    <td id="total" style="border-right: none" class="text-center">
                                                                        123 VND
                                                                    </td>
                                                                    <td style="border-left: none">
                                                                        <input type="checkbox" style="margin-left: 10px" id="isPaid" disabled>
                                                                        Đã nộp
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default"
                                                            data-dismiss="modal">
                                                        Đóng
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="editModal" class="modal fade" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;
                                                    </button>
                                                    <h4 class="modal-title title-edit">CẬP NHẬT THÔNG TIN ĐIỆN NƯỚC</h4>
                                                </div>
                                                <form id="demo-form2" data-parsley-validate
                                                      class="form-horizontal" th:action="@{/admin/subsistence/edit}" method="post">
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-sm-12 col-md-12">
                                                                <input type="text" id="roomId" name="roomId"
                                                                       class="form-control col-md-7 col-xs-12 hide">
                                                                <input type="text" id="month" name="month"
                                                                       class="form-control col-md-7 col-xs-12 hide">
                                                                <input type="text" id="year" name="year"
                                                                       class="form-control col-md-7 col-xs-12 hide">
                                                                <input type="text" id="floorId" name="floorId"
                                                                       class="form-control col-md-7 col-xs-12 hide">
                                                                <input type="text" id="areaId" name="areaId"
                                                                       class="form-control col-md-7 col-xs-12 hide">
                                                                <table class="table">
                                                                    <tbody>
                                                                    <tr>
                                                                        <th>
                                                                            <input type="text" id="id" name="id"
                                                                                   class="form-control hide">
                                                                        </th>
                                                                        <th>Tiền điện</th>
                                                                        <th>Tiền nước</th>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Số cũ</th>
                                                                        <td>
                                                                            <input type="number" id="oldElecEdit" name="oldNumberElec"
                                                                               class="form-control" readonly>
                                                                        </td>
                                                                        <td>
                                                                            <input type="number" id="oldWaterEdit" name="oldNumberWater"
                                                                                   class="form-control" readonly>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Số mới</th>
                                                                        <td>
                                                                            <input type="number" id="newElecEdit" name="newNumberElec"
                                                                                   class="form-control" required>
                                                                        </td>
                                                                        <td>
                                                                            <input type="number" id="newWaterEdit" name="newNumberWater"
                                                                                   class="form-control" required>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default"
                                                                data-dismiss="modal">
                                                            Đóng
                                                        </button>
                                                        <button type="submit" class="btn btn-primary antosubmit">Lưu
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
    <!-- footer content -->
    <footer th:replace="layout/admin::footer"></footer>
    <!-- /footer content -->
</div>
</div>
<div th:replace="layout/admin::script-area"></div>
<script src="../../../static/admin/js/my-custom/subsistence.js" th:src="@{/admin/js/my-custom/subsistence.js}"></script>
</body>
</html>