<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:fragment="header">
        <title>DUT's dormitory</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="Team X"/>
        <meta name="author" content="Team X"/>

        <!--css for list room, list area-->
        <script src="../../static/public/listRoom/js/jquery-1.9.1.min.js" th:src="@{/public/listRoom/js/jquery-1.9.1.min.js}"></script>
        <link href="../../static/public/listRoom/css/bootstrap.min.css" rel="stylesheet" th:href="@{/public/listRoom/css/bootstrap.min.css}">
        <link href="../../static/public/listRoom/css/normalize.css" rel="stylesheet" th:href="@{/public/listRoom/css/normalize.css}">
        <link href="../../static/public/listRoom/css/styleTrangSinhVien.css" rel="stylesheet" th:href="@{/public/listRoom/css/styleTrangSinhVien.css}">
        <link href="../../static/public/listRoom/css/font-awesome.min.css" rel="stylesheet" th:href="@{/public/listRoom/css/font-awesome.min.css}">
        <link href="../../static/public/listRoom/css/jquery.mmenu.all.css" rel="stylesheet" th:href="@{/public/listRoom/css/jquery.mmenu.all.css}">
        <!------------->

        <link rel="stylesheet" href="../../static/public/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css" th:href="@{/public/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css}">
        <link rel="stylesheet" href="../../static/public/css/font-icons/entypo/css/entypo.css" th:href="@{/public/css/font-icons/entypo/css/entypo.css}">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
        <link rel="stylesheet" href="../../static/public/css/bootstrap.css" th:href="@{/public/css/bootstrap.css}">
        <link rel="stylesheet" href="../../static/public/css/neon-core.css" th:href="@{/public/css/neon-core.css}">
        <link rel="stylesheet" href="../../static/public/css/neon-theme.css" th:href="@{/public/css/neon-theme.css}">
        <link rel="stylesheet" href="../../static/public/css/neon-forms.css" th:href="@{/public/css/neon-forms.css}">



        <link rel="stylesheet" href="../../static/public/css/custom.css" th:href="@{/public/css/custom.css}">
        <link rel="stylesheet" href="../../static/public/css/skins/red.css" th:href="@{/public/css/skins/red.css}">


        <script src="../../static/public/js/jquery-1.11.0.min.js" th:src="@{/public/js/jquery-1.11.0.min.js}"></script>

        <!--[if lt IE 9]>
        <script src="../../static/public/js/ie8-responsive-file-warning.js" th:src="@{/public/js/ie8-responsive-file-warning.js}"></script><![endif]-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js}"></script>
        <![endif]-->
        <link rel="shortcut icon" th:href="@{/public/images/favicon.png}" href="../../static/public/images/favicon.png">
        <link rel="stylesheet" href="../../static/public/css/font-icons/font-awesome/css/font-awesome.min.css" th:href="@{/public/css/font-icons/font-awesome/css/font-awesome.min.css}">

        <link rel="stylesheet" href="../../static/public/js/vertical-timeline/css/component.css" th:href="@{/public/js/vertical-timeline/css/component.css}">
        <link rel="stylesheet" href="../../static/public/js/datatables/responsive/css/datatables.responsive.css" th:href="@{/public/js/datatables/responsive/css/datatables.responsive.css}">

        <link rel="stylesheet" href="../../static/public/js/wysihtml5/bootstrap-wysihtml5.css" th:href="@{/public/js/wysihtml5/bootstrap-wysihtml5.css}">

        <!--Amcharts-->
        <script src="../../static/public/js/amcharts/amcharts.js" th:src="@{/public/js/amcharts/amcharts.js}" type="text/javascript"></script>
        <script src="../../static/public/js/amcharts/pie.js" th:src="@{/public/js/amcharts/pie.js}" type="text/javascript"></script>
        <script src="../../static/public/js/amcharts/serial.js" th:src="@{/public/js/amcharts/serial.js}" type="text/javascript"></script>
        <script src="../../static/public/js/amcharts/gauge.js" th:src="@{/public/js/amcharts/gauge.js}" type="text/javascript"></script>
        <script src="../../static/public/js/amcharts/funnel.js" th:src="@{/public/js/amcharts/funnel.js}" type="text/javascript"></script>
        <script src="../../static/public/js/amcharts/radar.js" th:src="@{/public/js/amcharts/radar.js}" type="text/javascript"></script>
        <script src="../../static/public/js/amcharts/exporting/amexport.js" th:src="@{/public/js/amcharts/exporting/amexport.js}" type="text/javascript"></script>
        <script src="../../static/public/js/amcharts/exporting/rgbcolor.js" th:src="@{/public/js/amcharts/exporting/rgbcolor.js}" type="text/javascript"></script>
        <script src="../../static/public/js/amcharts/exporting/canvg.js" th:src="@{/public/js/amcharts/exporting/canvg.js}" type="text/javascript"></script>
        <script src="../../static/public/js/amcharts/exporting/jspdf.js" th:src="@{/public/js/amcharts/exporting/jspdf.js}" type="text/javascript"></script>
        <script src="../../static/public/js/amcharts/exporting/filesaver.js" th:src="@{/public/js/amcharts/exporting/filesaver.js}" type="text/javascript"></script>
        <script src="../../static/public/js/amcharts/exporting/jspdf.plugin.addimage.js" th:src="@{/public/js/amcharts/exporting/jspdf.plugin.addimage.js}" type="text/javascript"></script>

        <script>
            function checkDelete() {
                var chk = confirm("Are You Sure To Delete This !");
                if (chk) {
                    return true;
                }
                else {
                    return false;
                }
            }
        </script>
    </head>
    <body class="page-body skin-red">
        <div class="page-container 		">
            <div class="sidebar-menu" th:fragment="leftbar">
                <div class="logo-env">

                    <!-- logo -->
                    <div class="logo" style="">
                        <a th:href="@{/dorm}">
                            <img src="../../static/public/images/logo.png" th:src="@{/public/images/logo.png}" style="max-height:60px;"/>
                        </a>
                    </div>
                    <!-- logo collapse icon -->
                    <div class="sidebar-collapse" style="">
                        <a href="" class="sidebar-collapse-icon with-animation">
                            <i class="entypo-menu"></i>
                        </a>
                    </div>

                    <!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
                    <div class="sidebar-mobile-menu visible-xs">
                        <a href="" class="with-animation">
                            <i class="entypo-menu"></i>
                        </a>
                    </div>
                </div>

                <div style="border-top:1px solid rgba(69, 74, 84, 0.7);"></div>
                <ul id="main-menu" class="">
                    <!-- add class "multiple-expanded" to allow multiple submenus to open -->
                    <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->


                    <!-- DASHBOARD -->
                    <li class="active ">
                        <a th:href="@{/dorm}">
                            <i class="entypo-gauge"></i>
                            <span>Trang chủ</span>
                        </a>
                    </li>

                    <li class=" ">
                        <a th:href="@{/dorm/area}">
                            <i class="entypo-home"></i>
                            <span>Thông tin phòng</span>
                        </a>
                    </li>

                    <!-- DORMITORY -->
                    <li class=" ">
                        <a href="#">
                            <i class="entypo-doc-text-inv"></i>
                            <span>Đăng ký phòng ở</span>
                        </a>
                        <ul>
                            <li class=" ">
                                <a th:href="@{/dorm/list-room}">
                                    <i class="entypo-dot"></i>
                                    <span>Đăng ký phòng</span>
                                </a>
                            </li>
                            <li class=" ">
                                <a href="http://ktx.hust.edu.vn/csam/index.php?student/dormitory_request">
                                    <i class="entypo-dot"></i>
                                    <span>Xem đăng ký</span>
                                </a>
                            </li>
                            <li class=" ">
                                <a href="http://ktx.hust.edu.vn/csam/index.php?student/dormitory_friends">
                                    <i class="entypo-dot"></i>
                                    <span>Danh sách bạn cùng phòng</span>
                                </a>
                            </li>
                        </ul>
                    </li>


                    <!-- PAYMENT -->
                    <li class=" ">
                        <a th:href="@{/dorm/notification/user/1}">
                            <i class="entypo-credit-card"></i>
                            <span>Thông báo</span>
                        </a>
                    </li>

                    <li class=" ">
                        <a th:href="@{/dorm/login}">
                            <i class="entypo-lock"></i>
                            <span>Đăng nhập</span>
                        </a>
                    </li>

                    <li class=" ">
                        <a th:href="@{/dorm/register-acc}">
                            <i class="entypo-lock"></i>
                            <span>Đăng ký tài khoản</span>
                        </a>
                    </li>

                    <!-- ACCOUNT -->
                    <li class=" ">
                        <a href="#">
                            <i class="entypo-doc-text-inv"></i>
                            <span>Thông tin sinh viên</span>
                        </a>
                        <ul>
                            <li class=" ">
                                <a href="">
                                    <i class="entypo-dot"></i>
                                    <span>Tài khoản</span>
                                </a>
                            </li>
                            <li class=" ">
                                <a href="http://ktx.hust.edu.vn/csam/index.php?student/dormitory_friends">
                                    <i class="entypo-dot"></i>
                                    <span>Danh sách bạn cùng phòng</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
            <div class="main-content">
                <div th:fragment="headerBar">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 clearfix" style="text-align:center;">
                            <h2 style="font-weight:200; margin:0px;">DUT's dormitory</h2>
                        </div>
                        <!-- Raw Links -->
                        <div class="col-md-12 col-sm-12 clearfix ">

                            <ul class="list-inline links-list pull-left">
                                <!-- Language Selector -->
                                <div id="session_static">
                                    <li>
                                        <h4>
                                            <a href="#" style="color: #696969;">
                                                Kỳ ở hiện tại : 20181 <i class="entypo-down-dir"></i>
                                            </a>
                                        </h4>
                                    </li>
                                </div>
                            </ul>


                            <ul class="list-inline links-list pull-right">

                                <li class="dropdown language-selector">
                                    <a href="http://ktx.hust.edu.vn/csam/index.php?home" target="_blank">
                                        <i class="entypo-globe"></i> Website
                                    </a>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-close-others="true">
                                        <i class="entypo-user"></i>
                                        nguyentam                    </a>

                                    <ul class="dropdown-menu pull-left">
                                        <li>
                                            <a href="http://ktx.hust.edu.vn/csam/index.php?student/manage_profile">
                                                <i class="entypo-info"></i>
                                                <span>Sửa hồ sơ</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://ktx.hust.edu.vn/csam/index.php?student/manage_profile">
                                                <i class="entypo-key"></i>
                                                <span>Thay đổi mật khẩu</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="http://ktx.hust.edu.vn/csam/index.php?login/logout">
                                        Đăng xuất<i class="entypo-logout right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>

                    <hr style="margin-top:0px;" />

                    <script type="text/javascript">
                        function get_session_changer()
                        {
                            $.ajax({
                                url: 'http://ktx.hust.edu.vn/csam/index.php?admin/get_session_changer/',
                                success: function(response)
                                {
                                    jQuery('#session_static').html(response);
                                }
                            });
                        }
                    </script>
                </div>
                    <div id="area-load-data"></div>
                <!-- Footer -->
                <footer class="main" th:fragment="footer">
                    &copy; 2018 <strong>The system manage DUT's dormitory made by team 14.N10.2</strong>
                </footer>

            </div>

        </div>
        <script type="text/javascript">
            function getAllArea() {
                $.ajax({
                    type: "GET",
                    url: "/dorm/area",
                })
                    .done(function(data) {
                        $('#area-load-data').html(data);
                        console.log(data);
                    })
                    .fail(function (json) {
                        var msg = json.responseJSON.message;
                        alert(msg);
                    });
            }
            function registerRoom() {
                $.ajax({
                    type: "POST",
                    url: "/dorm/register-room",
                })
                .done(function(data) {
                    $('#area-load-data').html(data);
                    console.log(data);
                })
                .fail(function (json) {
                    var msg = json.responseJSON.message;
                    alert(msg);
                });
            }
        </script>

        <!-- (Ajax Modal)-->
        <!--<div class="modal fade" id="modal_ajax">-->
            <!--<div class="modal-dialog">-->
                <!--<div class="modal-content">-->

                    <!--<div class="modal-header">-->
                        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                        <!--<h4 class="modal-title">DUT's dormitory</h4>-->
                    <!--</div>-->

                    <!--<div class="modal-body" style="height:500px; overflow:auto;">-->


                    <!--</div>-->

                    <!--<div class="modal-footer">-->
                        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->


        <!--<script type="text/javascript">-->
            <!--function confirm_modal(delete_url) {-->
                <!--jQuery('#modal-4').modal('show', {backdrop: 'static'});-->
                <!--document.getElementById('delete_link').setAttribute('href', delete_url);-->
            <!--}-->
        <!--</script>-->

        <!-- (Normal Modal)-->
        <!--<div class="modal fade" id="modal-4">-->
            <!--<div class="modal-dialog">-->
                <!--<div class="modal-content" style="margin-top:100px;">-->

                    <!--<div class="modal-header">-->
                        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                        <!--<h4 class="modal-title" style="text-align:center;">Are you sure to delete this information ?-->
                        <!--</h4>-->
                    <!--</div>-->


                    <!--<div class="modal-footer" style="margin:0px; border-top:0px; text-align:center;">-->
                        <!--<a href="#" class="btn btn-danger" id="delete_link">Xóa</a>-->
                        <!--<button type="button" class="btn btn-info" data-dismiss="modal">Hủy bỏ</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <div th:fragment="link">
            <link rel="stylesheet" src="../../static/public/js/datatables/responsive/css/datatables.responsive.css"  th:href="@{/public/js/datatables/responsive/css/datatables.responsive.css}">
            <link rel="stylesheet" src="../../static/public/js/select2/select2-bootstrap.css"  th:href="@{/public/js/select2/select2-bootstrap.css}">
            <link rel="stylesheet" src="../../static/public/js/select2/select2.css"  th:href="@{/public/js/select2/select2.css}">
            <link rel="stylesheet" src="../../static/public/js/selectboxit/jquery.selectBoxIt.css"  th:href="@{/public/js/selectboxit/jquery.selectBoxIt.css}">

            <!-- Bottom Scripts -->
            <script src="../../static/public/js/gsap/main-gsap.js" th:src="@{/public/js/gsap/main-gsap.js}"></script>
            <script src="../../static/public/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js" th:src="@{/public/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js}"></script>
            <script src="../../static/public/js/bootstrap.js" th:src="@{/public/js/bootstrap.js}"></script>
            <script src="../../static/public/js/joinable.js" th:src="@{/public/js/joinable.js}"></script>
            <script src="../../static/public/js/resizeable.js" th:src="@{/public/js/resizeable.js}"></script>
            <script src="../../static/public/js/neon-api.js" th:src="@{/public/js/neon-api.js}"></script>
            <script src="../../static/public/js/toastr.js" th:src="@{/public/js/toastr.js}"></script>
            <script src="../../static/public/js/jquery.validate.min.js" th:src="@{/public/js/jquery.validate.min.js}"></script>
            <script src="../../static/public/js/fullcalendar/fullcalendar.min.js" th:src="@{/public/js/fullcalendar/fullcalendar.min.js}"></script>
            <script src="../../static/public/js/bootstrap-datepicker.js" th:src="@{/public/js/bootstrap-datepicker.js}"></script>
            <script src="../../static/public/js/fileinput.js" th:src="@{/public/js/fileinput.js}"></script>

            <script src="../../static/public/js/jquery.dataTables.min.js" th:src="@{/public/js/jquery.dataTables.min.js}"></script>
            <script src="../../static/public/js/TableTools.min.js" th:src="@{/public/js/datatables/TableTools.min.js}"></script>
            <script src="../../static/public/js/dataTables.bootstrap.js" th:src="@{/public/js/dataTables.bootstrap.js}"></script>
            <script src="../../static/public/js/datatables/jquery.dataTables.columnFilter.js" th:src="@{/public/js/datatables/jquery.dataTables.columnFilter.js}"></script>
            <script src="../../static/public/js/datatables/lodash.min.js" th:src="@{/public/js/datatables/lodash.min.js}"></script>
            <script src="../../static/public/js/datatables/responsive/js/datatables.responsive.js" th:src="@{/public/js/datatables/responsive/js/datatables.responsive.js}"></script>
            <script src="../../static/public/js/select2/select2.min.js" th:src="@{/public/js/select2/select2.min.js}"></script>
            <script src="../../static/public/js/selectboxit/jquery.selectBoxIt.min.js" th:src="@{/public/js/selectboxit/jquery.selectBoxIt.min.js}"></script>


            <script src="../../static/public/js/neon-calendar.js" th:src="@{/public/js/neon-calendar.js}"></script>
            <script src="../../static/public/js/neon-chat.js" th:src="@{/public/js/neon-chat.js}"></script>
            <script src="../../static/public/js/neon-custom.js" th:src="@{/public/js/neon-custom.js}"></script>
            <script src="../../static/public/js/neon-demo.js" th:src="@{/public/js/neon-demo.js}"></script>

            <script src="../../static/public/js/wysihtml5/wysihtml5-0.4.0pre.min.js" th:src="@{/public/js/wysihtml5/wysihtml5-0.4.0pre.min.js}"></script>
            <script src="../../static/public/js/wysihtml5/bootstrap-wysihtml5.js" th:src="@{/public/js/wysihtml5/bootstrap-wysihtml5.js}"></script>


            <!-- SHOW TOASTR NOTIFIVATION -->


            <!-----  DATA TABLE EXPORT CONFIGURATIONS ---->
            <script type="text/javascript">

                jQuery(document).ready(function ($) {


                    var datatable = $("#table_export").dataTable();

                    $(".dataTables_wrapper select").select2({
                        minimumResultsForSearch: -1
                    });
                });

            </script>
        </div>
    </body>
