<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/public::header"></head>
<body class="page-body skin-red">
<div class="page-container 		">
    <div th:replace="layout/public::leftbar"></div>
    <div class="main-content">

        <div class="row">
            <div class="col-md-12 col-sm-12 clearfix" style="text-align:center;">
                <h2 style="font-weight:200; margin:0px;">DUT's dormitory</h2>
            </div>
            <!-- Raw Links -->
            <div class="col-md-12 col-sm-12 clearfix ">

                <ul class="list-inline links-list pull-left">
                    <!-- Language Selector -->
                    <div id="session_static">
                        <li>
                            <h4>
                                <a href="#" style="color: #696969;"
                                >
                                    Kỳ ở hiện tại : 20181 <i class="entypo-down-dir"></i>
                                </a>
                            </h4>
                        </li>
                    </div>
                </ul>


                <ul class="list-inline links-list pull-right">

                    <li class="dropdown language-selector">
                        <a href="http://ktx.hust.edu.vn/csam/index.php?home" target="_blank">
                            <i class="entypo-globe"></i> Website
                        </a>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-close-others="true">
                            <i class="entypo-user"></i>
                            nguyentam </a>

                        <ul class="dropdown-menu pull-left">
                            <li>
                                <a href="http://ktx.hust.edu.vn/csam/index.php?student/manage_profile">
                                    <i class="entypo-info"></i>
                                    <span>Sửa hồ sơ</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://ktx.hust.edu.vn/csam/index.php?student/manage_profile">
                                    <i class="entypo-key"></i>
                                    <span>Thay đổi mật khẩu</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="http://ktx.hust.edu.vn/csam/index.php?login/logout">
                            Đăng xuất<i class="entypo-logout right"></i>
                        </a>
                    </li>
                </ul>
            </div>

        </div>

        <hr style="margin-top:0px;"/>

        <script type="text/javascript">
            function get_session_changer() {
                $.ajax({
                    url: 'http://ktx.hust.edu.vn/csam/index.php?admin/get_session_changer/',
                    success: function (response) {
                        jQuery('#session_static').html(response);
                    }
                });
            }
        </script>

        <h3 style="">
            <i class="entypo-right-circled"></i>
            Quản lý giảng viên </h3>


        <table class="table table-bordered datatable" id="table_export">
            <thead>
            <tr>
                <th width="80">
                    <div>Ảnh</div>
                </th>
                <th>
                    <div>Tên</div>
                </th>
                <th>
                    <div>E-mail</div>
                </th>
                <th>
                    <div>Designation</div>
                </th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td><img src="http://ktx.hust.edu.vn/csam/uploads/user.jpg" class="img-circle" width="30"/></td>
                <td th:text="${timeRegister.get(0).status}"></td>
                <td>khoi.nguyenhuu@hust.edu.vn</td>
                <td>Giám đốc Trung tâm</td>

            </tr>
            <tr>
                <td><img src="http://ktx.hust.edu.vn/csam/uploads/user.jpg" class="img-circle" width="30"/></td>
                <td>Vũ Văn Trường</td>
                <td>truong.vuvan@hust.edu.vn</td>
                <td>Phó Giám đốc Trung tâm</td>

            </tr>

            </tbody>
        </table>


        <!-----  DATA TABLE EXPORT CONFIGURATIONS ---->
        <script type="text/javascript">

            jQuery(document).ready(function ($) {


                var datatable = $("#table_export").dataTable();

                $(".dataTables_wrapper select").select2({
                    minimumResultsForSearch: -1
                });
            });

        </script>


        <!-- Footer -->
        <footer th:replace="layout/public::footer"></footer>

    </div>

</div>
<script type="text/javascript">
    function showAjaxModal(url) {
        // SHOWING AJAX PRELOADER IMAGE
        jQuery('#modal_ajax .modal-body').html('<div style="text-align:center;margin-top:200px;"><img src="assets/images/preloader.gif" /></div>');

        // LOADING THE AJAX MODAL
        jQuery('#modal_ajax').modal('show', {backdrop: 'true'});

        // SHOW AJAX RESPONSE ON REQUEST SUCCESS
        $.ajax({
            url: url,
            success: function (response) {
                jQuery('#modal_ajax .modal-body').html(response);
            }
        });
    }
</script>

<!-- (Ajax Modal)-->
<div class="modal fade" id="modal_ajax">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Dorm management</h4>
            </div>

            <div class="modal-body" style="height:500px; overflow:auto;">


            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function confirm_modal(delete_url) {
        jQuery('#modal-4').modal('show', {backdrop: 'static'});
        document.getElementById('delete_link').setAttribute('href', delete_url);
    }
</script>

<!-- (Normal Modal)-->
<div class="modal fade" id="modal-4">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top:100px;">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" style="text-align:center;">Are you sure to delete this information ?</h4>
            </div>


            <div class="modal-footer" style="margin:0px; border-top:0px; text-align:center;">
                <a href="#" class="btn btn-danger" id="delete_link">Xóa</a>
                <button type="button" class="btn btn-info" data-dismiss="modal">Hủy bỏ</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="layout/public::link"></div>
</body>
</html>
