<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="layout/admin::header"></head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div th:replace="layout/admin::sidebar"></div>
        <!-- top navigation -->
        <div th:replace="layout/admin::top-nav"></div>
        <!-- /top navigation -->
        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Quản lý Phòng
                        </h3>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Danh sách phòng</h2>
                                <th:block th:if="${msg != null}" th:with="type=${msg.type == 1 ? 'success' : 'danger'}">
                                    <div th:class="${'alert alert-' + type}" style="margin-left: 200px">
                                        <strong th:text="${msg.message}"></strong>
                                    </div>
                                </th:block>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <form data-parsley-validate class="form-horizontal form-label-left">
                                    <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Khu nhà
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <select class="form-control" id="select-area">
                                                <option th:each="area,iterStat:${areas}" th:text="${area.name}"
                                                        th:value="${area.id}"></option>
                                            </select>
                                        </div>
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Tầng
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <select class="form-control" id="select-floor">
                                                <option value="0">Tất cả</option>
                                                <option th:each="floor,iterStat:${floors}" th:value="${floor.id}"
                                                        th:text="${floor.name}">Choose option</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                                <table class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Phòng</th>
                                        <th>Khu nhà</th>
                                        <th>Số người hiện tại</th>
                                        <th>Số người tối đa</th>
                                        <th>Giới tính</th>
                                        <th>Trạng thái</th>
                                        <th width="22%">Hành động</th>
                                        <th class="hide">ID</th>
                                        <th class="hide">Bed</th>
                                        <th class="hide">Register</th>
                                        <th class="hide">Cost bed</th>
                                        <th class="hide">Name floor</th>
                                        <th class="hide">Function name</th>
                                    </tr>
                                    </thead>
                                    <tbody id="table-body">
                                    <th:block th:if="${#lists.isEmpty(rooms)}">
                                        <tr><td colspan="8" class="text-center"><h3>Không có dữ liệu!</h3></td></tr>
                                    </th:block>
                                    <th:block th:unless="${#lists.isEmpty(rooms)}">
                                        <tr th:each="room,iterStat:${rooms}">
                                            <th scope="row" th:text="${iterStat.count}">1</th>
                                            <td th:text="${room.name}" class="name"></td>
                                            <td th:text="${room.areaName}" class="area"></td>
                                            <td th:text="${room.studentPresent == null ? 0 : room.studentPresent}" class="present"></td>
                                            <td th:text="${room.studentMax}" class="max"></td>
                                            <td th:text="${room.gender == 1 ? 'Nam' : 'Nữ'}" class="gender"></td>
                                            <td th:class="${'stt change-stt-' + room.id}">
                                                <span th:text="${room.status}" class="hide"></span>
                                                <th:block th:if="${room.status == 1}">
                                                    <button type="button" class="btn btn-success btn-xs" th:onclick="'javascript:changeStatus('+ ${room.id} +', 0);'">Active
                                                    </button>
                                                </th:block>
                                                <th:block th:if="${room.status == 0}">
                                                    <button type="button" class="btn btn-dark btn-xs" th:onclick="'javascript:changeStatus('+ ${room.id} +', 1);'">Inactive
                                                    </button>
                                                </th:block>
                                            </td>
                                            <td>
                                                <button class="btn btn-primary btn-xs btn-view" data-toggle="modal"
                                                        data-target="#roomInfoMd"><i class="fa fa-folder"></i> View
                                                </button>
                                                <button class="btn btn-info btn-xs btn-edit" data-toggle="modal" sec:authorize="hasAuthority('EDIT_ROOM')"
                                                        data-target="#modalEdit"><i class="fa fa-pencil"></i>
                                                    Edit
                                                </button>
                                            </td>
                                            <td class="id hide" th:text="${room.id}"></td>
                                            <td class="bed hide" th:text="${room.numberBed}"></td>
                                            <td class="register hide" th:text="${room.studentRegister}"></td>
                                            <td class="cost_bed hide" th:text="${room.costValue}"></td>
                                            <td class="name_floor hide" th:text="${room.floorName}"></td>
                                            <td class="function_name hide" th:text="${room.functionName}"></td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                                <!-- Modal View -->
                                <div id="roomInfoMd" class="modal fade" role="dialog">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;
                                                </button>
                                                <h4 class="modal-title">THÔNG TIN PHÒNG</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-sm-6" style="border-right: solid 1px black;">
                                                        <div class="row">
                                                            <div class="col-sm-12 text-center">
                                                                <h4>THÔNG TIN PHÒNG</h4>
                                                            </div>
                                                        </div>
                                                        <table class="table">
                                                            <tbody>
                                                            <tr>
                                                                <th>Địa chỉ:</th>
                                                                <td id="address-view"></td>
                                                            </tr>
                                                            <tr>
                                                                <th>Chức năng phòng:</th>
                                                                <td id="function-view"></td>
                                                            </tr>
                                                            <tr>
                                                                <th>Số giường:</th>
                                                                <td id="bed-view"></td>
                                                            </tr>
                                                            <tr>
                                                                <th>Số SV tối đa:</th>
                                                                <td id="max-view"></td>
                                                            </tr>
                                                            <tr>
                                                                <th>Số SV hiện tại:</th>
                                                                <td id="present-view"></td>
                                                            </tr>
                                                            <tr>
                                                                <th>Giới tính:</th>
                                                                <td id="gender-view"></td>
                                                            </tr>
                                                            <tr>
                                                                <th>Giá / giường:</th>
                                                                <td id="cost-view">120000 VND</td>
                                                                <td id="id-room-view" class="hide"></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <div class="row">
                                                            <div class="col-sm-12 text-center">
                                                                <h4>DANH SÁCH SINH VIÊN</h4>
                                                            </div>
                                                        </div>
                                                        <table class="table">
                                                            <tbody id="tbody-students-view">
                                                            <tr>
                                                                <th>Nguyễn Hoàng Thiện</th>
                                                                <td>14T1</td>
                                                                <td>Đang thuê</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-sm-12 text-center">
                                                                <h4>ĐIỆN NƯỚC</h4>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12 text-center">
                                                                <span>Thời gian:</span>
                                                                <input type="month" id="timeFilter"
                                                                       th:value="${yearMonth}">
                                                                <button style="margin-left: 5px" id="submit-timeFilter-view">Xem</button>
                                                            </div>
                                                        </div>
                                                        <div class="row msg-view">
                                                            <div class="col-sm-12 text-center" id="msg-view">
                                                            </div>
                                                        </div>
                                                        <table class="table table-bordered"  id="table-subsistence-view">
                                                            <tbody>
                                                            <tr>
                                                                <th></th>
                                                                <th>Tiền điện</th>
                                                                <th>Tiền nước</th>
                                                            </tr>
                                                            <tr>
                                                                <th>Số cũ</th>
                                                                <td id="oldElec-view"></td>
                                                                <td id="oldWater-view"></td>
                                                            </tr>
                                                            <tr>
                                                                <th>Số mới</th>
                                                                <td id="newElec-view"></td>
                                                                <td id="newWater-view"></td>
                                                            </tr>
                                                            <tr>
                                                                <th>Số tiêu thụ</th>
                                                                <td id="elecUsed-view"></td>
                                                                <td id="waterUsed-view"></td>
                                                            </tr>
                                                            <tr>
                                                                <th>Thành tiền</th>
                                                                <td id="elec-view"></td>
                                                                <td id="water-view"></td>
                                                            </tr>
                                                            <tr>
                                                                <th>Tổng tiền</th>
                                                                <td id="total" style="border-right: none" class="text-center">
                                                                </td>
                                                                <td style="border-left: none">
                                                                    <input type="checkbox" style="margin-left: 10px" id="isPaid" disabled>
                                                                    Đã nộp
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    Đóng
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal Edit -->
                                <div id="modalEdit" class="modal fade" role="dialog">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;
                                                </button>
                                                <h4 class="modal-title">CẬP NHẬT THÔNG TIN PHÒNG</h4>
                                            </div>
                                            <form id="demo-form2" data-parsley-validate
                                                  class="form-horizontal" th:action="@{/admin/room/edit}" method="post">
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-12">
                                                        <div class="form-group hide">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                                   for="idEdit">Id
                                                            </label>
                                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                                <input type="text" id="idEdit" name="id"
                                                                       class="form-control col-md-7 col-xs-12">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                                   for="roomEdit">Phòng
                                                            </label>
                                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                                <input type="text" id="roomEdit" name="name"
                                                                       class="form-control col-md-7 col-xs-12" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Khu nhà</label>
                                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                                <select class="form-control" name="area"
                                                                        id="areaEdit">
                                                                    <option th:each="area,iterStat:${areas}" th:text="${area.name}"
                                                                            th:value="${area.id}"></option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Tầng</label>
                                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                                <select class="form-control" name="floorId"
                                                                        id="floorEdit">
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Chức năng phòng</label>
                                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                                <select class="form-control" name="functionId"
                                                                        id="roomFunctionEdit">
                                                                    <option th:each="func,iterStat:${listFunction}" th:text="${func.name}"
                                                                            th:value="${func.id}"></option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                                   for="maxEdit">Số lượng SV tối đa
                                                            </label>
                                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                                <input type="number" id="maxEdit" name="studentMax"
                                                                       class="form-control col-md-7 col-xs-12" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                                   for="presentEdit">Số SV hiện tại
                                                            </label>
                                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                                <input type="number" id="presentEdit" name="studentPresent" readonly
                                                                       class="form-control col-md-7 col-xs-12">
                                                            </div>
                                                        </div>
                                                        <div class="form-group hide">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                                   for="registerEdit">Số SV ĐK
                                                            </label>
                                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                                <input type="number" id="registerEdit" name="studentRegister"
                                                                       class="form-control col-md-7 col-xs-12">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                                   for="bedEdit">Số lượng giường
                                                            </label>
                                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                                <input type="number" id="bedEdit" name="numberBed"
                                                                       class="form-control col-md-7 col-xs-12" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                                   for="costBedEdit">Giá / Giường (VND)
                                                            </label>
                                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                                <select class="form-control" name="costId"
                                                                        id="costBedEdit">
                                                                    <option th:each="cost,iterStat:${costs}" th:text="${cost.value}"
                                                                            th:value="${cost.id}"></option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Giới tính</label>
                                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                                <select class="form-control" name="gender"
                                                                        id="genderEdit">
                                                                    <option value="0">Nữ</option>
                                                                    <option value="1">Nam</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Trạng thái</label>
                                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                                <select class="form-control" name="status"
                                                                        id="statusEdit">
                                                                    <option value="0">Inactive</option>
                                                                    <option value="1">Active</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    Đóng
                                                </button>
                                                <button type="submit" class="btn btn-primary antosubmit">Lưu</button>
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
    <!-- footer content -->
    <footer th:replace="layout/admin::footer"></footer>
    <!-- /footer content -->
</div>
</div>
<div th:replace="layout/admin::script-area"></div>
<script src="../../../static/admin/js/my-custom/room.js" th:src="@{/admin/js/my-custom/room.js}"></script>
</body>
</html>