<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/admin::header"></head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div th:replace="layout/admin::sidebar"></div>
        <!-- top navigation -->
        <div th:replace="layout/admin::top-nav"></div>
        <!-- /top navigation -->
        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Users
                            <small>Some examples to get you started</small>
                        </h3>
                    </div>
                    <div class="title_right">
                        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                              <button class="btn btn-default" type="button">Go!</button>
                              </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <form th:action="@{/admin/register-room/accept-all}" method="post" class="form-horizontal form-label-left">
                            <div class="x_title">
                                <h2>Danh sách Đăng ký phòng</h2>
                                <button type="submit" id="acceptAll" class="btn btn-warning" style="margin-left: 10px;display:none;">Phê duyệt tất cả
                                </button>
                                <th:block th:if="${msg != null}" th:with="type=${msg.type == 1 ? 'success' : 'danger'}">
                                <div th:class="${'alert alert-' + type}" style="margin-left: 300px">
                                    <strong th:text="${msg.message}"></strong>
                                </div>
                                </th:block>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="form-group">
                                    <label class="control-label col-md-1 col-sm-1 col-xs-12">Khu nhà
                                    </label>
                                    <div class="col-md-2 col-sm-2 col-xs-12">
                                        <select class="form-control" id="select-area">
                                            <option th:each="area,iterStat:${areas}" th:text="${area.name}"
                                                    th:value="${area.id}"></option>
                                        </select>
                                    </div>
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Tầng
                                    </label>
                                    <div class="col-md-2 col-sm-2 col-xs-12">
                                        <select class="form-control" id="select-floor">
                                            <option value="0">Tất cả</option>
                                            <option th:each="floor,iterStat:${floors}" th:value="${floor.id}"
                                                    th:text="${floor.name}">Choose option</option>
                                        </select>
                                    </div>
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Phòng
                                    </label>
                                    <div class="col-md-2 col-sm-2 col-xs-12">
                                        <select class="form-control" id="select-room">
                                            <option value="0">Tất cả</option>
                                            <option th:each="room,iterStat:${rooms}" th:value="${room.id}"
                                                    th:text="${room.name}">Choose option</option>
                                        </select>
                                    </div>
                                </div>
                                <table class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th><input type="checkbox" id="checkAll" class="mycheckbox"/></th>
                                        <th>STT</th>
                                        <th class="hide">ID</th>
                                        <th>Họ tên</th>
                                        <th>Lớp</th>
                                        <th>Giới tính</th>
                                        <th>Thời gian ĐK</th>
                                        <th>Phòng ĐK</th>
                                        <th>Trạng thái</th>
                                        <th>Hành động</th>
                                    </tr>
                                    </thead>
                                    <tbody id="table-body">
                                    <th:block th:if="${#lists.isEmpty(registers)}">
                                        <tr><td colspan="9" class="text-center"><h3>Không có dữ liệu!</h3></td></tr>
                                    </th:block>
                                    <th:block th:unless="${#lists.isEmpty(registers)}">
                                    <tr th:each="reg,iterStat:${registers}">
                                        <td>
                                            <input type="checkbox" class="checkbox mycheckbox" th:disabled="${reg.status == 1 ? true : false}" name="regId" th:value="${reg.id}"  />
                                        </td>
                                        <td scope="row" th:text="${iterStat.count}"></td>
                                        <td th:text="${reg.id}" class="id hide"></td>
                                        <td th:text="${reg.fullName}" class="name"></td>
                                        <td th:text="${reg.className}" class="class"></td>
                                        <td th:text="${reg.gender == 1 ? 'Nam' : 'Nữ'}" class="gender"></td>
                                        <td th:text="${reg.timeRegisterCustom}" class="time-register"></td>
                                        <td th:text="${reg.roomName}" class="room"></td>
                                        <td class="stt">
                                            <span th:text="${reg.status}" class="hide"></span>
                                            <th:block th:if="${reg.status == 1}">
                                                <button type="button" class="btn btn-success btn-xs">Đã phê duyệt
                                                </button>
                                            </th:block>
                                            <th:block th:if="${reg.status == 0}">
                                                <button type="button" class="btn btn-danger btn-xs">Chờ phê duyệt
                                                </button>
                                            </th:block>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-primary btn-xs btn-view"
                                                    data-toggle="modal" data-target="#viewModal">
                                                <i class="fa fa-folder"></i> View
                                            </button>
                                        </td>
                                        <td th:text="${reg.studentCode}" class="std-code hide"></td>
                                        <td th:text="${reg.year}" class="year hide"></td>
                                        <td th:text="${reg.timeCensorCustom}" class="time-censor hide"></td>
                                        <td th:text="${reg.semesterName}" class="semester hide"></td>
                                        <td th:text="${reg.floorName}" class="floor hide"></td>
                                        <td th:text="${reg.areaName}" class="area hide"></td>
                                    </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div>
                            </form>
                            <div id="viewModal" class="modal fade" role="dialog">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;
                                            </button>
                                            <h4 class="modal-title title-view">THÔNG TIN ĐĂNG KÝ PHÒNG</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12">
                                                    <table class="table table-striped">
                                                        <tbody>
                                                        <tr>
                                                            <th style="border-top: none">Họ tên</th>
                                                            <td id="name-view" style="border-top: none">Nguyễn A</td>
                                                            <th style="border-top: none">MSSV</th>
                                                            <td id="std-code-view" style="border-top: none">Tiền nước</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Lớp</th>
                                                            <td id="class-view">123</td>
                                                            <th>Giới tính</th>
                                                            <td id="gender-view">12</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Thời hạn</th>
                                                            <td id="semester-view">133</td>
                                                            <th>Năm</th>
                                                            <td id="year-view">15</td>
                                                        </tr>
                                                        <tr>
                                                            <th>TG đăng ký</th>
                                                            <td id="register-view">10</td>
                                                            <th>TG phê duyệt</th>
                                                            <td id="accept-view">3</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Phòng ĐK</th>
                                                            <td colspan="3" id="room-view">Phòng 123, Tầng 1, Khu nhà 1</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default"
                                                    data-dismiss="modal">
                                                Đóng
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
    <!-- footer content -->
    <footer th:replace="layout/admin::footer"></footer>
    <!-- /footer content -->
</div>
</div>
<div th:replace="layout/admin::script-area"></div>
<script src="../../../static/admin/js/my-custom/register.js" th:src="@{/admin/js/my-custom/register.js}"></script>
</body>
</html>